@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@foreach(var picture in Model.ViewModel.Pictures)
{
    <div class="text-center">
        <h1 class="display-4">Test</h1>
        <img src="data:image/png;base64,@picture.Image">
    </div>    
}
