@page
@model IndexModel
@{
    ViewData["Title"] = "Gallery";
}
<div class="row">
    @foreach(var picture in Model.ViewModel.Pictures)
    {
        <div class="col-md-3">
            <div class="text-center">
                <h1 class="display-4">Test</h1>
                <img loading=lazy src="data:image/png;base64,@picture.Image">
            </div>
        </div>
    }
</div>

