@page
@using ArtistPortfolio.Components
@using ArtistPortfolio.Pages.Shared
@model IndexModel
@{
    ViewData["Title"] = "Gallery";
}
@section Styles {
    <link href="@Url.Content("~/css/image-hover.css")" rel="stylesheet" type="text/css" />
}
<div class="row">
    <component type="typeof(Gallery)" render-mode="ServerPrerendered"/>
</div>